<div class="grid min-h-screen grid-cols-2">
  <div class="flex h-full flex-col justify-between border-r border-foreground/5 bg-gray p-10 text-muted-foreground">
    <div class="flex items-center gap-3 text-md font-medium text-foreground">
      <lucide-angular [img]="Check" [size]="18"></lucide-angular>
      <span class="font-semibold">ToDo List</span>
    </div>
    <footer class="text-sm font-poppins">&copy; ToDo List - {{ today }}</footer>
  </div>

  <div class="relative flex flex-col items-center justify-center">
    <app-button class="absolute top-8 right-8" [text]="headerButtonText()" [isOutline]="true" (click)="toogleAuthPage()" [type]="'button'" />
    @if (isLoginCurrentPage()) {
      <app-login></app-login>
    } @else {
      <app-register></app-register>
    }
  </div>
</div>
