<div class="card flex justify-content-center">
  @if (type != "password") {
    @if (mask) {
      <p-inputMask
        class="w-full"
        styleClass="w-full font-poppins text-sm"
        [mask]="mask"
        [(ngModel)]="value"
        (onInput)="onInput($event)"
        [placeholder]="placeholder"
      />
    } @else {
      <input [type]="type" [value]="value" (input)="onInput($event)" [placeholder]="placeholder ?? ''" pInputText class="w-full font-poppins text-sm" />
    }
  } @else {
    <div class="flex items-center w-full relative">
      <input [type]="isPassVisible() ? 'text' : 'password'" [value]="value" (input)="onInput($event)" pInputText class="w-full font-poppins text-sm" />
      <lucide-angular
        [img]="isPassVisible() ? Eye : EyeOff"
        [size]="18"
        class="h-full absolute right-2 text-slate-500 hover:cursor-pointer"
        (click)="togglePassVisibility()"
      />
    </div>
  }
</div>
