<div class="card flex justify-content-center">
  @if (type != "password") {
    <input [type]="type" pInputText [(ngModel)]="value" class="w-full font-poppins text-sm"/>
  } @else {
    <div class="flex items-center w-full relative">
      <input [type]="isPassVisible() ? 'text' : 'password'" pInputText [(ngModel)]="value" class="w-full font-poppins text-sm"/>
      <lucide-angular
        [img]="isPassVisible() ? Eye : EyeOff"
        [size]="18"
        class="h-full absolute right-2 text-slate-500 hover:cursor-pointer"
        (click)="togglePassVisibility()"
      />
    </div>
  }
</div>
